<div class="row">
  <div class="col-xs-4">
    <img ng-src="{{wine.picture}}" class="img-responsive">
  </div>
  <div class="col-xs-8">

    <!-- wine content -->
    <div ng-hide="wine.editForm">
    <h5>{{wine.name}}</h5>
      <p><strong>Year:</strong> {{wine.year}}</p>
      <p><strong>Grapes:</strong> {{wine.grapes}}</p>
      <p><strong>Country:</strong> {{wine.country}}</p>
      <p><strong>Region:</strong> {{wine.region}}</p>
      <p><strong>Price:</strong> ${{wine.price}}</p>
      
    </div>
  </div>
</div>